{% extends 'base.html' %}	

{% block contents %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'index/index.css' %}">
	
	<style>


.form-control{
    width:80%;
    border:0px; 
    border-radius:3px;
    padding:3px;
    height:32px;
    margin:5px;
    box-sizing: border-box;
}
.loginDiscription{
    display:flex;
    width:100%;

    justify-content: center;
    

}
.loginDiscription > div{
    font-family:굴림;
    font-weight:normal;
    font-size:10pt;
    text-align:left;
    width:80%;
}
form > input[type=submit]{
    margin:5px;
    background-color:rgb(45, 48, 51);
    width:80%;
    height:30px;
    border:0px;
    color:#f3eadd;
    border-radius:3px;
    
    font-size:12pt;
}
    </style>
    <div class="main" style="flex:1 1 300px">
{% if user.is_authenticated %}
<script type="text/javascript">
    alert('잘못된 접근입니다. \n회원가입을 위해서는 로그아웃이 필요합니다.')
    window.location.href = '/';
</script>
{% else %}
<form method="POST" action="" class="sign-up-form">
    {%csrf_token%}
    <h2 class="sub-title"> 회원가입 </h2>
    
        <div class="form-group">
            
            <div class="loginDiscription"><div>ID</div></div>
            <input type="text" name="uid" class="form-control" maxlength="100" required="" id="id_uid" placeholder="아이디 입력">
            <div class="loginDiscription"><div>PASSWORD</div></div>
            <input type="password" name="password" class="form-control" maxlength="128" required="" id="id_password" placeholder="비밀번호 입력">
            <div class="loginDiscription"><div>NAME</div></div>
            <input type="text" name="name" class="form-control" maxlength="128" required="" id="id_name" placeholder="이름 입력">
            <div class="loginDiscription"><div>AGE</div></div>
            <input type="text" name="age" class="form-control" maxlength="128" required="" id="id_age" placeholder="나이 입력">
            <div class="loginDiscription"><div>SEX</div></div>
            <input type="text" name="sex" class="form-control" maxlength="128" required="" id="id_sex" placeholder="성별 입력 male/female">

        </div>
    
    <button type="submit" class="save btn btn-success">회원가입</button>
    <a href="{% url 'index' %}">
    <button type="button" class="btn btn-danger">취소</button>
    </a>
</form>
{% endif %}
</div>
{% endblock %}