{% extends 'base.html' %}
{% load staticfiles %}
{% block contents %}
            
<link rel="stylesheet" href="{% static 'index/index.css' %}">
	<style>
		.searchListButton a:visited{
    color:white;
      text-decoration: none;

  }
.searchListButton a:link{
      color:white;
      text-decoration : none;
  }
		.search{
						border-radius: 3px;
						margin:10px;
						border:1px solid;
						width:45px;height: 45px;
			
					}
					#tail{
						color:#f4f1e9
					}
			
			#searchBtn{
				flex: 0 0 60px;
			}
			.searchDiv{
				display:flex;
			}
			#searchInput{
				flex:1 1 100%;
			}
			
			
			
			#searchBox{
				font-family: 'Binggrae-Bold';
				
				padding:10px;
				border-radius : 3px;
				border:1px solid #b4b8ba;
				transition: .3s;
				width:100%;
				box-sizing: border-box;
				height:40px;
				font-size:15pt;
				
			}
			#searchBox:focus{
				box-shadow: 0 0 10px #b4b8ba;
				transition: .3s;
			}
			
			#sbtn{
				margin-top:5px;
				width:100%;
				height:40px;
				background-color:#cfc7bf;
				border:0;
			}
			
			
			
			.main > hr{
						margin : 0px;
					}
					.search{
						border-radius: 3px;
						margin:10px;
						border:1px solid;
						width:45px;height: 45px;
			
					}
					.searchList{
						display:flex;
						text-align: left;
					}
					.searchListText{
						padding : 0 10px;
						flex : 0  100%;
					}
					.searchListButton{
						
						flex:0 0 60px;
						display:flex;
						align-items:center; justify-content: center;
					}
					.nmStyle{
						font-size:10pt;
					}
					.cdStyle{
						font-size:14pt;
					}
					#foot{
						box-sizing:border-box;
						padding:20px;
						width:100%;
						height:65px;
						background-color:rgb(45, 48, 51);
					}
					
			
					#menuContainer {
				position: fixed;
				bottom:0px;
				left:0px;
				width: 100%;
				height: 65px;
				background-color: rgb(45, 48, 51);
				padding: 10px;
				display: flex;
				box-sizing: border-box;
				justify-content: center;
					align-items: center;
			}
			#menuAddButton{
				font-size:17pt;
				color:white;
			}
				</style>
	<div class="main">
		<form action="" method="get">
				
					
					
			<div class="toggleWrap">
					<input id="searchBox" type="text" name="q" placeholder="질병분류기호 검색" value="{{ q }}">

			</div>
			
		
		<button id="sbtn" value=""><svg width="17px" aria-hidden="true" focusable="false" data-prefix="fas" style="color:white;" data-icon="search" class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg></button>

	</form>
						
						{% for cd, nm in sick %}
					<div class="searchList">
						<div class="searchListText">
							<p class="cdStyle">{{cd}}</p>
							<p class="nmStyle">{{nm}}</p>
						</div>
						{%if cd != '검색 내용 없음' %}
						<div class="searchListButton">
								<button style="box-shadow:0px 0px 4px #535455;background-color:#b4b8ba;border-radius: 100%; width:40px;height:40px;color:white;border:0px;"><div style="height:26px;font-size:15pt;margin:0px;"><a href="{% url 'add_disease_to_prescription' pre_id=pre_id code=cd name=nm%}">+</a></div></button>

						</div>
						{% endif %}
					
					</div>
					<hr>
						{% endfor %}
						

        <!-- 병명 : {{sicknms}}<br> -->
      
        <img width="200px"src="{{img}}"><br>
        {{res2}}
        
	
	</button>
	
        
	</div>
	<div id="tail">Copyrightⓒ2019 by OREORE | Contact Us </div>
	<div style="width:100%;height:75px;"></div>

	<div id="menuContainer">
			<div id="menuAddButton" onclick="location.href='/prescription/all/'">
			추가완료
		  </div>
		</div>
 
</div>
</body>
{%endblock%}