<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<img src="{{img.pre_img.url}}">
<form action="{% url 'confirm_code' pre_id %}" method='POST'>
    {% csrf_token %}
    {% for is in iscode %}
    
        <input type="text" name='iscode' value="{{is}}"><br>
    {% endfor %}
    <div class='addInput'>
        <!-- input tag 추가되는 부분 -->
    </div>
    <input type="hidden" name='iscode[]' id='iscode_list' value=''>
    <button type='button' class="btnAdd">코드추가하기</button>
    <input type="submit" onclick='getlist()'>
</form>

<script type="text/javascript">
    // iscode -> list
    function getlist() {
        var list = new Array();
        $("input[name=iscode]").each(function(index, item){
            list.push($(item).val());
        });
        $("#iscode_list").val(list);
    }

    // 코드 input 추가 및 삭제
    $(document).ready (function () {                
        $('.btnAdd').click (function () {                                        
            $('.addInput').append (                        
                '<input type="type" name="iscode" value="">\
                <button type="button" class="btnRemove">코드삭제하기</button><br>'                    
            ); // end append                            
            $('.btnRemove').on('click', function () { 
                $(this).prev().remove(); // remove the textbox
                $(this).next().remove(); // remove the <br>
                $(this).remove(); // remove the button
            });
        }); // end click                                            
    });
</script>