{%load staticfiles %}

{% if user.is_authenticated %}
<!DOCTYPE html>
<html>
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title></title>
	<script src="https://code.jquery.com/jquery-3.4.1.js"
	integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
	crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'prescription_manage/all_prescription.css' %}">
	<link rel="shortcut icon" href="./icon.ico">

	<!-- noti_predict -->
	<script type="text/javascript">
	$(document).ready(function() {
		noti();
	});
	</script>
</head>
<body>
	<style>


	</style>
<div class="mainContainer">
	<a href="/"><h1 style="font-family: 'S-CoreDream-8Heavy'; color:#f3eadd">OREORE</h1></a>
	<div class="main">
			
		<div id="pageTitle">
			<div id="myTitle">내 처방전</div>
		</div>
		<hr>
		
		
		<!-- noti -->
		<div id="noti">
			<input type="hidden" id='kcd' value='{{disease}}'>
		</div>

		<form class="test" action="{% url 'add_prescription' %}" method="POST">
				{% csrf_token %}
				<input id="searchBox" type="text" name='name' placeholder="처방전의 이름을 입력해주세요.">
			
				<button type="submit">확인</button>
			</form>
		{% for prescription in prescriptions %}

		<div class="prescriptionList">
			<div style="padding:8px;text-align: left;font-size:10pt;color:gray;">{{prescription.createdDate|date:"n/j(D)"}}</div>
			<a href="{% url 'detail_prescription' prescription.id %}">
			<div style="display:flex;">
				<div style="flex:1 1;white-space:nowrap; padding:8px;text-align:left;overflow:hidden;text-overflow: ellipsis ">
					{{ prescription.prescriptionName }}
				</div>
				<div style="flex:0 0;flex-basis:20px;padding:10px 0;">
					<svg style="width:10px; color:gray"aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg>
				</div>
			</div></a>
			<hr style="border: 0.5px solid rgb(204, 204, 204);width:95%">
		</div>
	<!-- <a href="{% url 'submit_img' prescription.id %}">약 추가하기</a> -->
        {% endfor %}

		<!-- <button id="addButton" onclick="openadd()">추가</button> -->
		
	</div>
	<div id="tail">Copyrightⓒ2019 by 오래오래 | Contact Us </div>
	

<div style="width:100%;height:65px;"></div>
<div id="menuContainer">
		<div id="menuAddButton"   onclick="openadd()">처방전 추가</div>
	</div>
</body>
</html>
<script>
	// noti
	function noti(){
		var kcdcodes = $("#kcd").val();
		var list = kcdcodes.match(/\w+/g);
		for (i in list){
			if (list[i]=="J00" || list[i]=="B301"){
				$.ajax({
					type: 'POST',
					url: '/disease_noti/noti/',
					data: {code:list[i]},
					dataType: 'json',
					success: function(result){
						$('#noti').append(JSON.stringify(result));
						// $('#noti').html('<p>'+kcdcode+'많이 걸리는 달'+'</p>'+result['noti']['J00']);
					},
					error: function(e) { console.log('error:'+e.status);}
				});
			}
		}
	}
	
	function openadd(){
		$('.prescriptionList').toggle(300);
		$('.test').toggle(300);
		if($('#menuAddButton').html() == '처방전 추가'){
			$('#menuAddButton').html('추가 취소');
			$('html').scrollTop(0);
		}else{
			$('#menuAddButton').html('처방전 추가');		
		}
	}
</script>
<!--{{ prescription.createdDate }}-->
{%else%}
<script type="text/javascript">
    alert('먼저 로그인을 해주세요.')
    window.location.href = '{%url "login" %}';
</script>
{%endif%}
