{% extends 'base.html' %}
{% load staticfiles %}
{% block contents %}
            

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<link rel="stylesheet" href="{% static 'prescription_manage/detail_prescription.css' %}">

        <div class="clipboard">
            <div class="clip"><div style="position: relative;width:80px;height:10px;background-color:#b9b9b9;top:-10px;left:50%;transform:translateX(-50%)"></div>
            <div id="clip1"></div><div id="clip2"></div>
    
        </div>
        <div class="main">
                <h1 style="font-size: 5.5vw">{{pre.createdDate|date:"Y년 m월 d일"}} 처방 이력</h1>
{{pre.prescriptionName}} <br>
<div style="text-align: left; margin:10px;">
        <i style="color:#b4b8ba;"class="fas fa-stethoscope fa-2x"></i>
        <div style="width:42px; text-align:center; position:relative;font-size:8pt;background-color:#b4b8ba">
            질병 정보
        </div>
</div>
        {% for disease,i in diszip %}
            {% if disease == 'empty' %}
            <div style="height:100px; font-size:9pt;display:flex;justify-content: center;align-items:center;">
                아직 추가된 질병정보가 없네요 !

            </div>
            
            {% else %}
            <div onclick="opens('{{i}}')"  style="background-color:#b4b8ba;padding:10px; margin:10px;display:flex"><div style="flex:1 1">{{disease.dname_kor}} {{disease.kcdcode}}</div><div id="plus{{i}}" style="flex:0 0 20px">+</div></div>
            <div id="box{{i}}" style="display:none;font-size:11pt;text-align: left;padding:10px;margin:0px;">
                분류 : {{disease.category}}<br><br>
                정의 : {{disease.definition}}<br><br>
                원인 : {{disease.cause}}
            </div>
            {%endif%}
        {% endfor %}

<div style="text-align: left; margin:10px;">
        <i style="color:#b4b8ba;"class="fas fa-pills fa-2x"></i>
        <div style="width:42px; text-align:center; position:relative;font-size:8pt;background-color:#b4b8ba">
            약정보
        </div>
</div>



{% for medicine in medi %}
{% if medicine == 'empty' %}
<div style="height:100px; font-size:9pt;display:flex;justify-content: center;align-items:center;">
    아직 추가된 약품정보가 없네요 !

</div>
{%else%}


<div style="text-align: center; ">
    {% if medicine.img_url == '' %}
        <div style="width:100%; height:159px;display:flex;justify-content:center ; font-family: 'KOMACON';font-weight: 100">
            <div style="display:flex; justify-content:center ;align-items: center;flex-direction: column">
                <i class="fas fa-image "></i>
                <span style="font-size:9pt;">약품정보를 준비중입니다</span>
            </div>
        </div>
    {% else %}
        <img src="{{medicine.img_url}}" alt="Not image" width="90%">
    {%endif%}
        <div style="font-size:10px;color:gray;margin-top:-15px;margin-bottom: 10px">
            ({{medicine.insuranceCode}})
        </div>
    {% if medicine.mediName == ''%}
        <div style="display:inline-block;padding:5px; border-radius: 3px;"><a href="{% url 'mod_medicine_view' code=medicine.insuranceCode pre_id=pre.id %}" rel="modal:open"><i style="color:rgb(45, 48, 51);" class="far fa-edit"></i></a></div>
    {% else %}
        <div style="font-size:10pt;margin:10pt">{{medicine.mediName}}</div>
        <div style="font-size:10pt;margin:10pt">{{medicine.class_name}}</div>
        <div style="font-size:10pt;margin:10pt">{{medicine.entp}}</div>
        <p>용법용량</p>
        <div style="font-size:10pt;margin:10pt">{{medicine.dosage}}</div>
        <p>주의사항</p>
        <div style="font-size:10pt;margin:10pt">{{medicine.caution}}</div>
        
    {% endif %}
        <hr style="width:90%;border: 0.5px solid rgb(204, 204, 204)">
</div>
{%endif%}
{% endfor %}


<script>
        function opens(i){
            
            $('#box'+i).toggle();
            if($("#plus"+i).text() == "+"){ $("#plus"+i).text("-")
            }else{
                $("#plus"+i).text("+");
            }
        
        }
        </script>
        
    </div>


</div>
 <!-- 삭제하기 버튼 수정바람. -->
<button onclick="del_but();">삭제</button>
<script>
    function del_but(){
        if (confirm("정말 삭제하시겠습니까?"))
            window.location.href = '/prescription/delete/{{pre.id}}';
        else
            return false;
    }
</script>

<div id="tail">Copyrightⓒ2019 by OREORE | Contact Us </div>
<div style="width:100%;height:75px;"></div>
<div id="menuContainer">
        <div id="menuAddButton" onclick="location.href='/disease/add/{{pre.id}}?q='">
        질병코드 추가
      </div>

      <div id="menuAddButton" onclick="location.href='/prescription_read/submit/{{pre.id}}'">
            의약품 추가
          </div>
    </div>
</body>
{%endblock%}