{% load staticfiles %}
<!-- Remember to include jQuery :) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<link rel="stylesheet" href="{% static 'prescription_manage/detail_prescription.css' %}">
<div class="mainContainer">

        <h1 style="font-family: 'S-CoreDream-8Heavy'; color:#f3eadd">OREORE</h1>
        <div class="clipboard">
            <div class="clip"><div style="position: relative;width:80px;height:10px;background-color:#b9b9b9;top:-10px;left:50%;transform:translateX(-50%)"></div>
            <div id="clip1"></div><div id="clip2"></div>
    
        </div>
        <div class="main">
                <h1 style="font-size: 5.5vw">2019년 9월 24일 처방 이력</h1>
{{pre.prescriptionName}} <br>
<a href="/disease/add/{{pre.id}}?q="><button>질병추가하기</button></a> <br>
        {% for disease,i in diszip %}

        <div onclick="opens('{{i}}')"  style="background-color:#b4b8ba;padding:10px; margin:10px;display:flex"><div style="flex:1 1">{{disease.kcdCode}} {{disease.diesName}}</div><div id="plus{{i}}" style="flex:0 0 20px">+</div></div>
        <div id="box{{i}}" style="display:none;font-size:11pt;text-align: left;padding:10px;margin:0px;">원인 :<br>편도선이 세균이나 바이러스에 감염되어 생김. 특히 연쇄상구균이 원인균이다.

			<br>
			1) 인후통(통증이 약하거나 심함)<br>
			2) 삼키기 곤란하다.  <br>

			3) 오한과 발열(40도 이상)<br>

			4) 턱 양쪽의 임파선이 붓는다.<br>

			5) 두통<br>

			6) 귀의 통증<br>

			7) 기침(경우에 따라)<br>

			8) 구토(경우에 따라)<br>
        </div>
        {% endfor %}
        <div onclick="opens('{{i}}')"  style="background-color:#b4b8ba;padding:10px; margin:10px;display:flex"><div style="flex:1 1">{{disease.kcdCode}} {{disease.diesName}}</div><div id="plus{{i}}" style="flex:0 0 20px">+</div></div>
<hr>
{% for medicine in medi %}
    {{medicine.insuranceCode}} <br>
    {% if medicine.mediName == ''%}
        <a href="{% url 'mod_medicine_view' code=medicine.insuranceCode pre_id=pre.id %}" rel="modal:open">약 이름 넣기</a> <br>
    {% else %}
        {{medicine.mediName}} <br>
    {% endif %}
    <img src="{{medicine.img_url}}" alt="Not image" width="155"> <br>
{% endfor %}
<hr>
<a href="{% url 'all_prescription' %}"><button>back</button></a>
<script>
        function opens(i){
            
            $('#box'+i).toggle();
            if($("#plus"+i).text() == "+"){ $("#plus"+i).text("-")
            }else{
                $("#plus"+i).text("+");
            }
        
        }
        </script>
        
    </div>


</div>
<div id="tail">Copyrightⓒ2019 by OREORE | Contact Us </div>


</div>

</body>
</html>