{% load staticfiles %}
<!-- Remember to include jQuery :) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<link rel="stylesheet" href="{% static 'prescription_manage/detail_prescription.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="mainContainer">

        <h1 style="font-family: 'S-CoreDream-8Heavy'; color:#f3eadd">OREORE</h1>
        <div class="clipboard">
            <div class="clip"><div style="position: relative;width:80px;height:10px;background-color:#b9b9b9;top:-10px;left:50%;transform:translateX(-50%)"></div>
            <div id="clip1"></div><div id="clip2"></div>
    
        </div>
        <div class="main">
                <h1 style="font-size: 5.5vw">2019년 9월 24일 처방 이력</h1>
{{pre.prescriptionName}} <br>

        {% for disease,i in diszip %}
            
        <div onclick="opens('{{i}}')"  style="background-color:#b4b8ba;padding:10px; margin:10px;display:flex"><div style="flex:1 1">{{disease.dname_kor}} {{disease.kcdcode}}</div><div id="plus{{i}}" style="flex:0 0 20px">+</div></div>
        <div id="box{{i}}" style="display:none;font-size:11pt;text-align: left;padding:10px;margin:0px;">
            분류 : {{disease.category}}<br><br>
            정의 : {{disease.definition}}<br><br>
            원인 : {{disease.cause}}
        </div>
        {% endfor %}
<hr>

{% for medicine in medi %}
    {{medicine.insuranceCode}} <br>
    {% if medicine.mediName == '' and medicine.img_url == ''%}
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="image" class="svg-inline--fa fa-image fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M464 448H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h416c26.51 0 48 21.49 48 48v288c0 26.51-21.49 48-48 48zM112 120c-30.928 0-56 25.072-56 56s25.072 56 56 56 56-25.072 56-56-25.072-56-56-56zM64 384h384V272l-87.515-87.515c-4.686-4.686-12.284-4.686-16.971 0L208 320l-55.515-55.515c-4.686-4.686-12.284-4.686-16.971 0L64 336v48z"></path></svg>
    <br>
    <a href="{% url 'mod_medicine_view' code=medicine.insuranceCode pre_id=pre.id %}" rel="modal:open">약 이름 넣기</a> <br>
    {% elif medicine.img_url == '' %}
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="image" class="svg-inline--fa fa-image fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M464 448H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h416c26.51 0 48 21.49 48 48v288c0 26.51-21.49 48-48 48zM112 120c-30.928 0-56 25.072-56 56s25.072 56 56 56 56-25.072 56-56-25.072-56-56-56zM64 384h384V272l-87.515-87.515c-4.686-4.686-12.284-4.686-16.971 0L208 320l-55.515-55.515c-4.686-4.686-12.284-4.686-16.971 0L64 336v48z"></path></svg>
        {{medicine.mediName}} <br>
    {% endif %}
    <img src="{{medicine.img_url}}" alt="Not image" width="155"> <br>
{% endfor %}
<hr>
<a href=""><button>back</button></a>
<script>
        function opens(i){
            
            $('#box'+i).toggle();
            if($("#plus"+i).text() == "+"){ $("#plus"+i).text("-")
            }else{
                $("#plus"+i).text("+");
            }
        
        }
        </script>
        
    </div>


</div>
<div id="tail">Copyrightⓒ2019 by OREORE | Contact Us </div>


<div id="menuContainer">
        <div id="menuAddButton" onclick="location.href='/disease/add/{{pre.id}}?q='">
        질병코드 추가
      </div>

      <div id="menuAddButton" onclick="location.href='/prescription_read/submit/{{pre.id}}'">
            의약품 추가
          </div>
    </div>
</body>
</html>